<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Update Post </h1>
            <div class="card-body">
                <form th:action="@{/posts/{id}(id=${post.id})}" th:object="${post}" method="POST">
                    <div class="form-group">
                        <label> Title </label>
                        <input
                                type="text"
                                name = "title"
                                th:field = "*{title}"
                                class="form-control"
                                placeholder="Enter Title"
                        />
                    </div>

                    <div class="form-group">
                        <label> Body </label>
                        <input
                                type="text"
                                name = "Body"
                                th:field = "*{body}"
                                class="form-control"
                                placeholder="Enter post' body"
                        />
                    </div>

                    <div class="form-group">
                        <label> 1 - Hunter, 2 - Fisher </label>
                        <input
                                type="text"
                                name = "ActivityId"
                                th:field = "*{activityId}"
                                class="form-control"
                                placeholder="Enter activity_id"
                        />
                    </div>

                    <div class="footer-body">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>